body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.calculator {
  display: flex;
  flex-flow: column wrap;
  background-color: #45ccd5;
  border: .5px solid black;
  width: 18em;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6 {
  display: flex;
}

button {
  background-color: #14d0f1;
  margin: 0;
  padding: 3em;
  width: 1em;
  border: .5px solid black;
  background: none;
  flex-basis: 25%;
}

.buttonDiv,
.buttonMult,
.buttonSub,
.buttonPlus,
.buttonSqrt {
  background-color: #87dbe7;
}

p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 75%;
}

.buttonEq {
  flex-basis: 50%;
  color: white;
  background-color: #0003ff;
}
